.body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    flex-grow: 1;
}

.page_header {
    background-color: #445162;
    color: #ffffff;
}

.page_header_head-wrp {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
}

.page_header_head-wrp_text_title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0px 0px 51px 0px;
}

.page_header_head-wrp_text_list {
    list-style: none;
    margin: 0;
}

.page_header_head-wrp_text_list_item {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
     position: relative;
 }

.page_header_head-wrp_text_list_item::before {
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/page_header_wrapper_text_list_item_marker.png);
    position: absolute;
    top: 8px;
    left: -36px;
    content: "";
}

.page_header_head-wrp_image {
    display: block;
    background-color: #ffffff;
    color: #445162;
}
            
.page_main_about {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.page_main_about_text {
    width: 649px;
}
.page_main_about_text_title {
    color: #445161;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;
}
.page_main_about_text_p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin-top: 0;
    margin-bottom: 20px;
}
                
.page_main_about_image {
    display: block;
    background-color: #445161;
    color: #ffffff;
}
            
.page_main_pluses {
    padding: 50px;
    background-color: #f0ebebf6;
}

.page_main_pluses_title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.page_main_pluses_content {
    display: flex;
    flex-wrap: wrap;
}

.page_main_pluses_content_item {
    flex-grow: 1;
    flex-basis: 500px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    padding-left: 41px;
    box-sizing: border-box;
    position: relative;
    margin-top: 35px;
    display: block;
}

.page_main_pluses_content_item_sum {
    display: block;
}

.page_main_pluses_content_item_sum::-webkit-details-marker {
    display: none;
}

.page_main_pluses_content_item_sum::before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: 0;
    text-align: center;
    font-weight: bold;
    background-color: #445161;
    color: #ffffff;
    line-height: 21px;
    font-size: 37px;
    padding: 6px;
    box-sizing: border-box;
}
                    
.page_main_pluses_content_item[open] .page_main_pluses_content_item_sum::before {
    content: "-";
    line-height: 14px;
}
                     
.page_main_screenshots {
padding: 50px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: #fafafa;
}

.page_main_screenshots_title {
width: 100%;
text-align: center;
margin-top: 0;
margin-bottom: 0;
font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #445161;
}

.page_main_screenshots_item {
flex-grow: 1;
flex-basis: 500px;
margin: 30px 0 0 0;
display: flex;
}

.page_main_screenshots_item_img {
display: block;
background-color: #445161;
color: white;
margin-right: 15px;
}

.page_main_screenshots_item_wrp {
padding-right: 15px;
}

.page_main_screenshots_item_wrp_title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin-top: 0;
    margin-bottom: 15px;
}

.page_main_screenshots_item_wrp_text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin-top: 0;
    margin-bottom: 0;
}
                            
.page_main_reviews {
    background-color: #f0ebebf6;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page_main_reviews_title {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.page_main_reviews_item {
    flex-grow: 1;
    flex-basis: 500px;
    display: flex;
    margin-top: 35px;
    max-width: 582px;
}

.page_main_reviews_item_img {
    display: block;
    background-color: #445161;
    border-radius: 50%;
}

.page_main_reviews_item_text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    background-color: #d4d4d4;
    border-radius: 5px;
    padding: 16px;
    margin: 0 0 0 29px;
    position: relative;
}

.page_main_reviews_item_text::before {
    content: "";
    border: 13px solid transparent;
    border-right: 13px solid #d4d4d4;
    position: absolute;
    top: 23px;
    left: -26px;
}

.page_main_reviews_text_sign {
    display: block;
    margin-top: 15px;
    color: #989898;
    font-style: normal;
}

.page_main_buy {
    background-color: #fafafa;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #fafafa;
}

.page_main_buy_title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.page_main_buy_card {
    margin-top: 30px;
    background-color: #445162;
    color: #ffffff;
    border-radius: 5px;
    padding: 16px 2px 16px 2px;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    max-width: 300px;
    flex-grow: 1;
}

.page_main_buy_card_title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.page_main_buy_card_price {
    display: block;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: #ffffff;
    text-align: center;
    padding: 18px 0px 18px 0px;
}

.page_main_buy_card_list {
    padding-left: 18px;
    padding-right: 18px;
    list-style-position: inside;
}

.page_main_buy_card_list_item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.page_main_buy_card_list_item:last-child::after {
    content: ".";
}

.page_main_buy_card_list_item::after {
    content: ";";
}

.page_main_buy_card_button {
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    width: 260px;
    align-self: center;
    padding: 11px 0px 11px 0px;
    border-radius: 5px;
    box-sizing: border-box;
}

.page_main_buy_card_button:hover {
    color: #ffffff;
    background-color: #989898;
}

.page_main_buy_card_button:active {
    color: #ffffff;
    background-color: #445161;
    border: 1px solid #ffffff;
}

.page_footer {
    background-color: #445162;
}
