.container {
  margin: 0 auto;
  max-width: 1280px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .page .page_header {
  background-color: #445162;
  color: #ffffff;
}

.wrapper .page .page_header .page_header_head-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .page .page_header .page_header_head-wrp .page_header_head-wrp_text .page_header_head-wrp_text_title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0px 0px 51px 0px;
}

.wrapper .page .page_header .page_header_head-wrp .page_header_head-wrp_text .page_header_head-wrp_text_list {
  list-style: none;
  margin: 0;
}

.wrapper .page .page_header .page_header_head-wrp .page_header_head-wrp_text .page_header_head-wrp_text_list .page_header_head-wrp_text_list_item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
}

.wrapper .page .page_header .page_header_head-wrp .page_header_head-wrp_text .page_header_head-wrp_text_list .page_header_head-wrp_text_list_item::before {
  display: block;
  width: 25px;
  height: 19px;
  background-image: url(../img/page_header_wrapper_text_list_item_marker.png);
  position: absolute;
  top: 8px;
  left: -36px;
  content: "";
}

.wrapper .page .page_header .page_header_head-wrp .page_header_head-wrp_image {
  display: block;
  background-color: #ffffff;
  color: #445162;
}

.wrapper .page .page_main .page_main_about {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.wrapper .page .page_main .page_main_about .page_main_about_text {
  width: 649px;
}

.wrapper .page .page_main .page_main_about .page_main_about_text .page_main_about_text_title {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
}

.wrapper .page .page_main .page_main_about .page_main_about_text .page_main_about_text_p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin-top: 0;
  margin-bottom: 20px;
}

.wrapper .page .page_main .page_main_about .page_main_about_image {
  display: block;
  background-color: #445161;
  color: #ffffff;
}

.wrapper .page .page_main .page_main_pluses {
  padding: 50px;
  background-color: #f0ebebf6;
}

.wrapper .page .page_main .page_main_pluses .page_main_pluses_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper .page .page_main .page_main_pluses .page_main_pluses_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .page .page_main .page_main_pluses .page_main_pluses_content .page_main_pluses_content_item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  padding-left: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-top: 35px;
}

.wrapper .page .page_main .page_main_pluses .page_main_pluses_content .page_main_pluses_content_item .page_main_pluses_content_item_sum::-webkit-details-marker {
  display: none;
}

.wrapper .page .page_main .page_main_pluses .page_main_pluses_content .page_main_pluses_content_item .page_main_pluses_content_item_sum::before {
  content: "";
  background-image: url(../img/page_main_pluses_content_item.png);
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 0;
}

.wrapper .page .page_main .page_main_screenshots {
  padding: 50px;
  background-color: #fafafa;
}

.wrapper .page .page_main .page_main_screenshots .page_main_screenshots_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper .page .page_main .page_main_screenshots .page_main_screenshots_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .page .page_main .page_main_screenshots .page_main_screenshots_content .page_main_screenshots_content_item {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  margin-top: 35px;
}

.wrapper .page .page_main .page_main_screenshots .page_main_screenshots_content .page_main_screenshots_content_item .page_main_screenshots_content_item_fg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .page .page_main .page_main_screenshots .page_main_screenshots_content .page_main_screenshots_content_item .page_main_screenshots_content_item_fg .page_main_screenshots_content_item_fg_img {
  display: block;
  background-color: #445161;
  color: #ffffff;
}

.wrapper .page .page_main .page_main_screenshots .page_main_screenshots_content .page_main_screenshots_content_item .page_main_screenshots_content_item_fg .page_main_screenshots_content_item_fg_text {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .page .page_main .page_main_screenshots .page_main_screenshots_content .page_main_screenshots_content_item .page_main_screenshots_content_item_fg .page_main_screenshots_content_item_fg_text .page_main_screenshots_content_item_fg_text_h {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
  margin-top: 0;
  margin-bottom: 15px;
}

.wrapper .page .page_main .page_main_screenshots .page_main_screenshots_content .page_main_screenshots_content_item .page_main_screenshots_content_item_fg .page_main_screenshots_content_item_fg_text .page_main_screenshots_content_item_fg_text_p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper .page .page_main .page_main_reviews {
  background-color: #f0ebebf6;
}

.wrapper .page .page_main .page_main_buy {
  background-color: #fafafa;
}

.wrapper .page_footer {
  background-color: #445162;
}
/*# sourceMappingURL=style.css.map */