@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff'),
         url('../fonts/raleway-medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff'),
         url('../fonts/raleway-extrabold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;

}

.container {
    margin: 0 auto;
    max-width: 1920px;
}

.container-in {
    margin: 0 auto;
    max-width: 1170px;
}

.body {
    margin: 0;
    &_wrp {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        &_page {
            flex-grow: 1;
            &_header {
                background-image: url(../img/header_background.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                padding: 40px 0 40px 0;
                box-sizing: border-box;
                background-position: center;
                &_top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &_logo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        width: 180px;
                        color: #ffffff;                   
                        &_icon {
                            display: block;
                            fill: currentColor;
                        }
                        &_txt {
                            display: block;
                            font-size: 34px;
                            line-height: 1.2;
                            font-weight: 400;
                            font-style: normal;
                            letter-spacing: -0.04em;
                            font-family: 'raleway', 'Arial', sans-serif;
                        }
                        &:hover {
                            color: #c7b299;
                        }
                        &:active {
                            color: #4e3427;
                        }
                    }
                    &_nav {
                        display: flex;
                        align-items: center;
                        &_list {
                            list-style: none;
                            display: flex;
                            padding: 0;
                            margin: 0;
                            &_item {
                                margin: 0 0 0 30px;
                                &:first-child {
                                    margin-left: 0;
                                }
                                &_a {
                                    text-decoration: none;
                                    font-size: 14px;
                                    line-height: 1.2;
                                    font-weight: 300;
                                    font-style: normal;
                                    font-family: montserrat, Arial, sans-serif;
                                    color: #ffffff;
                                    &:hover {
                                        color: #c7b299;
                                    }
                                    &:active {
                                        color: #4e3427;
                                    }
                                }
                            }
                        }
                    }
                    &_cart {
                        border: none;
                        padding: 0;
                        outline: none;
                        background: none;
                        &_icon {
                            display: block;
                            fill: #ffffff;
                            &:hover {
                                fill: #c7b299;
                            }
                            &:active {
                                fill: #4e3427;
                            }
                        }
                    }
                    &_search {
                        position: relative;
                        &_lable {
                            display: block;
                            &_icon {
                                fill: #ffffff;
                            }
                            &:hover &_icon {
                                fill: #c7b299;
                            }
                        }
                        &_input {
                            position: absolute;
                            top: 44px;
                            left: -155px;
                            width: 0;
                            min-height: 0;
                            padding: 5px;
                            outline: none;
                            box-sizing: border-box;
                            background-color: transparent;
                            border: none;
                            &:focus {
                                width: 150px;
                                min-height: 20px;
                                border: 2px solid #fff;
                                transition: width 1s ease;
                                color: #ffffff;
                            }
                        }
                    }
                }
                &_slider {
                    margin: 285px 0 327px 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    &_arow {
                        width: 40px;
                        height: 73px;
                        border: none;
                        display: block;
                        background: none;
                        outline: none;
                    }
                    &_arow-left {
                        position: relative;
                        &_top {
                            width: 54px;
                            height: 2px;
                            position: absolute;
                            transform: rotate(43deg);
                            top: 53px;
                            left: -7px;
                            opacity: 0.5;
                            background-color: #ffffff;
                        }
                        &_bot {
                            width: 54px;
                            height: 2px;
                            position: absolute;
                            transform: rotate(-41deg);
                            top: 17px;
                            left: -8px;
                            opacity: 0.5;
                            background-color: #ffffff;
                        }
                        &:hover &_top {
                            background-color: #c7b299;
                        }
                        &:hover &_bot {
                            background-color: #c7b299;
                        }
                        &:active &_top {
                            background-color: #4e3427;
                        }
                        &:active &_bot {
                            background-color: #4e3427;
                        }               
                    }
                    &_arow-right {
                        position: relative;
                        &_top {
                            width: 54px;
                            height: 2px;
                            position: absolute;
                            transform: rotate(-41deg);
                            top: 54px;
                            left: -7px;
                            opacity: 0.5;
                            background-color: #ffffff;
                        }
                        &_bot {
                            width: 54px;
                            height: 2px;
                            position: absolute;
                            transform: rotate(41deg);
                            top: 18px;
                            left: -7px;
                            opacity: 0.5;
                            background-color: #ffffff;
                        }
                        &:hover &_top {
                            background-color: #c7b299;
                        }
                        &:hover &_bot {
                            background-color: #c7b299;
                        }
                        &:active &_top {
                            background-color: #4e3427;
                        }
                        &:active &_bot {
                            background-color: #4e3427;
                        }                           
                    }
                    &_content {
                        max-width: 589px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        &_design {
                            font-family: raleway, Arial, sans-serif;
                            font-size: 36px;
                            line-height: 1.2;
                            font-weight: 500;
                            font-style: normal;
                            color: #ffffff; 
                        }
                        &_template {
                            font-family: raleway, Arial, sans-serif;
                            font-size: 52px;
                            line-height: 1.2;
                            font-weight: 800;
                            font-style: normal;
                            color: #ffffff;
                            margin: 14px 0 0 0;
                        }
                        &_txt {
                            font-family: montserrat, Arial, sans-serif;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 300;
                            font-style: normal;
                            color: #ffffff;
                            text-align: center;
                            margin: 19px 0 0 0;
                        }
                        &_btn {
                            width: 170px;
                            min-height: 55px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid transparent;
                            box-sizing: border-box;
                            background-color: #998675;
                            border-radius: 3px;
                            outline: none;
                            color: #ffffff;
                            margin: 52px 0 0 0;
                            &_txt {
                                text-transform: uppercase;
                                font-family: raleway, Arial, sans-serif;
                                font-size: 14px;
                                line-height: 23px;
                                font-weight: 800;
                                font-style: normal;
                            }
                            &:hover {
                                color: #998675;
                                background-color: #ffffff;
                            }
                            &:active {
                                border: 1px solid #ffffff;
                                background-color: transparent;
                                color: #ffffff;
                            }
                        }
                    }
                }
                &_pag {
                    display: flex;
                    justify-content: center;
                    &_a {
                        display: block;
                        width: 11px;
                        height: 11px;
                        border: 2px solid transparent;
                        border-radius: 50%;
                        opacity: 0.5;
                        background-color: #ffffff;
                        margin: 0 9px 0 0;
                        box-sizing: border-box;
                        &:last-child {
                            margin: 0 0 0 0;
                        }
                        &:hover {
                            background-color: #c7b299;
                            transform: scale(1.36);
                        }
                        &:active {
                            background-color: rgba(255,255,255,0.0);
                            border: 2px solid #d3c1ad;
                            transform: scale(1.36);
                        }
                    }
                }
            }
            &_main {
                &_services {
                    outline: 1px solid green; /*TO DELETE*/
                    display: flex;
                    width: 266px;
                    &_item {
                        outline: 1px solid purple; /*TO DELETE*/
                    }
                }
            }
        }
        &_footer {
            background-color: cadetblue;
        }
    }
}
