@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  outline: 1px solid red;
  /*to delete*/
}

.container-in {
  margin: 0 auto;
  max-width: 1170px;
  outline: 1px solid purple;
  /*to delete*/
}

.body {
  margin: 0;
}

.body_wrp {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body_wrp_page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.body_wrp_page_header {
  background-color: #0bacac;
  /*to delete*/
  padding: 40px 0 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body_wrp_page_header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_wrp_page_header_top_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  background-color: darkslategray;
  /*to delete*/
  width: 180px;
  color: #ffffff;
}

.body_wrp_page_header_top_logo_icon {
  display: block;
  fill: currentColor;
}

.body_wrp_page_header_top_logo_txt {
  display: block;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.04em;
  font-family: 'raleway', 'Arial', sans-serif;
}

.body_wrp_page_header_top_logo:hover {
  color: #c7b299;
}

.body_wrp_page_header_top_logo:active {
  color: #4e3427;
}

.body_wrp_page_header_top_nav {
  background-color: darkslategray;
  /*to delete*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_wrp_page_header_top_nav_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.body_wrp_page_header_top_nav_list_item {
  margin: 0 0 0 30px;
}

.body_wrp_page_header_top_nav_list_item:first-child {
  margin-left: 0;
}

.body_wrp_page_header_top_nav_list_item_a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.body_wrp_page_header_top_nav_list_item_a:hover {
  color: #c7b299;
}

.body_wrp_page_header_top_nav_list_item_a:active {
  color: #4e3427;
}

.body_wrp_page_header_top_cart {
  border: none;
  padding: 0;
  outline: none;
  background-color: darkslategray;
  /*to delete*/
}

.body_wrp_page_header_top_cart_icon {
  display: block;
  fill: #ffffff;
}

.body_wrp_page_header_top_cart_icon:hover {
  fill: #c7b299;
}

.body_wrp_page_header_top_cart_icon:active {
  fill: #4e3427;
}

.body_wrp_page_header_top_search {
  background-color: darkslategray;
  /*to delete*/
  position: relative;
}

.body_wrp_page_header_top_search_lable {
  display: block;
}

.body_wrp_page_header_top_search_lable_icon {
  fill: #ffffff;
}

.body_wrp_page_header_top_search_lable:hover .body_wrp_page_header_top_search_lable_icon {
  fill: #c7b299;
}

.body_wrp_page_header_top_search_input {
  position: absolute;
  top: 44px;
  left: -155px;
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.body_wrp_page_header_top_search_input:focus {
  width: 150px;
  min-height: 20px;
  border: 2px solid #fff;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.body_wrp_footer {
  background-color: cadetblue;
}
/*# sourceMappingURL=style.css.map */