@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.body {
  margin: 0;
}

.body_wrp {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body_wrp_page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.body_wrp_page_header {
  background-image: url(../img/header_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
}

.body_wrp_page_header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_wrp_page_header_top_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 180px;
  color: #ffffff;
}

.body_wrp_page_header_top_logo_icon {
  display: block;
  fill: currentColor;
}

.body_wrp_page_header_top_logo_txt {
  display: block;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.04em;
  font-family: 'raleway', 'Arial', sans-serif;
}

.body_wrp_page_header_top_logo:hover {
  color: #c7b299;
}

.body_wrp_page_header_top_logo:active {
  color: #4e3427;
}

.body_wrp_page_header_top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_wrp_page_header_top_nav_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.body_wrp_page_header_top_nav_list_item {
  margin: 0 0 0 30px;
}

.body_wrp_page_header_top_nav_list_item:first-child {
  margin-left: 0;
}

.body_wrp_page_header_top_nav_list_item_a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  font-style: normal;
  font-family: montserrat, Arial, sans-serif;
  color: #ffffff;
}

.body_wrp_page_header_top_nav_list_item_a:hover {
  color: #c7b299;
}

.body_wrp_page_header_top_nav_list_item_a:active {
  color: #4e3427;
}

.body_wrp_page_header_top_cart {
  border: none;
  padding: 0;
  outline: none;
  background: none;
}

.body_wrp_page_header_top_cart_icon {
  display: block;
  fill: #ffffff;
}

.body_wrp_page_header_top_cart:hover .body_wrp_page_header_top_cart_icon {
  fill: #c7b299;
}

.body_wrp_page_header_top_cart:active .body_wrp_page_header_top_cart_icon {
  fill: #4e3427;
}

.body_wrp_page_header_top_search {
  position: relative;
}

.body_wrp_page_header_top_search_lable {
  display: block;
}

.body_wrp_page_header_top_search_lable_icon {
  fill: #ffffff;
}

.body_wrp_page_header_top_search_lable:hover .body_wrp_page_header_top_search_lable_icon {
  fill: #c7b299;
}

.body_wrp_page_header_top_search_input {
  position: absolute;
  top: 44px;
  left: -155px;
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.body_wrp_page_header_top_search_input:focus {
  width: 150px;
  min-height: 20px;
  border: 2px solid #fff;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  color: #ffffff;
}

.body_wrp_page_header_slider {
  margin: 285px 0 327px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_wrp_page_header_slider_arow {
  width: 40px;
  height: 73px;
  border: none;
  display: block;
  background: none;
  outline: none;
}

.body_wrp_page_header_slider_arow-left {
  position: relative;
}

.body_wrp_page_header_slider_arow-left_top {
  width: 54px;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  top: 53px;
  left: -7px;
  opacity: 0.5;
  background-color: #ffffff;
}

.body_wrp_page_header_slider_arow-left_bot {
  width: 54px;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  top: 17px;
  left: -8px;
  opacity: 0.5;
  background-color: #ffffff;
}

.body_wrp_page_header_slider_arow-left:hover .body_wrp_page_header_slider_arow-left_top {
  background-color: #c7b299;
}

.body_wrp_page_header_slider_arow-left:hover .body_wrp_page_header_slider_arow-left_bot {
  background-color: #c7b299;
}

.body_wrp_page_header_slider_arow-left:active .body_wrp_page_header_slider_arow-left_top {
  background-color: #4e3427;
}

.body_wrp_page_header_slider_arow-left:active .body_wrp_page_header_slider_arow-left_bot {
  background-color: #4e3427;
}

.body_wrp_page_header_slider_arow-right {
  position: relative;
}

.body_wrp_page_header_slider_arow-right_top {
  width: 54px;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  top: 54px;
  left: -7px;
  opacity: 0.5;
  background-color: #ffffff;
}

.body_wrp_page_header_slider_arow-right_bot {
  width: 54px;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
  top: 18px;
  left: -7px;
  opacity: 0.5;
  background-color: #ffffff;
}

.body_wrp_page_header_slider_arow-right:hover .body_wrp_page_header_slider_arow-right_top {
  background-color: #c7b299;
}

.body_wrp_page_header_slider_arow-right:hover .body_wrp_page_header_slider_arow-right_bot {
  background-color: #c7b299;
}

.body_wrp_page_header_slider_arow-right:active .body_wrp_page_header_slider_arow-right_top {
  background-color: #4e3427;
}

.body_wrp_page_header_slider_arow-right:active .body_wrp_page_header_slider_arow-right_bot {
  background-color: #4e3427;
}

.body_wrp_page_header_slider_content {
  max-width: 589px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_wrp_page_header_slider_content_design {
  font-family: raleway, Arial, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.body_wrp_page_header_slider_content_template {
  font-family: raleway, Arial, sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
  margin: 14px 0 0 0;
}

.body_wrp_page_header_slider_content_txt {
  font-family: montserrat, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  margin: 19px 0 0 0;
}

.body_wrp_page_header_slider_content_btn {
  width: 170px;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  outline: none;
  color: #ffffff;
  margin: 52px 0 0 0;
}

.body_wrp_page_header_slider_content_btn_txt {
  text-transform: uppercase;
  font-family: raleway, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  font-style: normal;
}

.body_wrp_page_header_slider_content_btn:hover {
  color: #998675;
  background-color: #ffffff;
}

.body_wrp_page_header_slider_content_btn:active {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.body_wrp_page_header_pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body_wrp_page_header_pag_a {
  display: block;
  width: 11px;
  height: 11px;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #ffffff;
  margin: 0 9px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body_wrp_page_header_pag_a:last-child {
  margin: 0 0 0 0;
}

.body_wrp_page_header_pag_a:hover {
  background-color: #c7b299;
  -webkit-transform: scale(1.36);
          transform: scale(1.36);
}

.body_wrp_page_header_pag_a:active {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #d3c1ad;
  -webkit-transform: scale(1.36);
          transform: scale(1.36);
}

.body_wrp_page_main_services {
  padding: 70px 0 70px 0;
}

.body_wrp_page_main_services_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body_wrp_page_main_services_wrp_item {
  width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px 0 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body_wrp_page_main_services_wrp_item_icon {
  fill: #555555;
}

.body_wrp_page_main_services_wrp_item_title {
  font-family: raleway, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
  color: #555555;
  margin: 29px 0 0 0;
}

.body_wrp_page_main_services_wrp_item_txt {
  font-family: montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
  text-align: center;
  margin: 19px 0 0 0;
}

.body_wrp_page_main_services_wrp_item::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #8c8c8c;
  margin: 30px 0 0 0;
}

.body_wrp_page_main_services_wrp_item:hover .body_wrp_page_main_services_wrp_item_icon {
  fill: #c7b299;
}

.body_wrp_page_main_services_wrp_item:hover .body_wrp_page_main_services_wrp_item_title {
  color: #c7b299;
}

.body_wrp_page_main_services_wrp_item:hover::after {
  background-color: #c7b299;
}

.body_wrp_page_main_ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0 0 0;
  background-color: #fbfaf8;
}

.body_wrp_page_main_ideas_title {
  font-family: raleway, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
  color: #555555;
  text-align: center;
  margin: 0 0 24px 0;
}

.body_wrp_page_main_ideas_txt {
  font-family: montserrat, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
  text-align: center;
  max-width: 770px;
  margin: 0 0 40px 0;
}

.body_wrp_page_main_ideas_screen {
  max-width: 1230px;
  width: 100%;
  min-height: 482px;
  margin: 0 auto;
  background-image: url(../img/ideas_screen_1.jpg), url(../img/ideas_screen_2.jpg), url(../img/ideas_screen_3.jpg);
  background-repeat: no-repeat;
  background-position: center, left bottom, right bottom;
  position: relative;
}

.body_wrp_page_main_adv {
  padding: 48px 0 48px 0;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.body_wrp_page_main_adv_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body_wrp_page_main_adv_wrp_txt {
  margin: 0;
}

.body_wrp_page_main_adv_wrp_txt_title {
  font-family: raleway, Arial, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin: 0 0 8px 0;
}

.body_wrp_page_main_adv_wrp_txt_title_brand {
  color: #c7b299;
}

.body_wrp_page_main_adv_wrp_txt_p {
  font-family: montserrat, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  font-style: normal;
  color: #615855;
  margin: 0;
}

.body_wrp_page_main_adv_wrp_btn {
  width: 170px;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  outline: none;
  color: #ffffff;
}

.body_wrp_page_main_adv_wrp_btn_txt {
  font-family: Raleway, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

.body_wrp_page_main_adv_wrp_btn:hover {
  color: #998675;
  background-color: #ffffff;
}

.body_wrp_page_main_adv_wrp_btn:active {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.body_wrp_page_main_projects {
  width: 100%;
  padding: 80px 0 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body_wrp_page_main_projects_title {
  text-align: center;
  margin: 0 0 24px 0;
  font-family: raleway, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
  color: #555555;
}

.body_wrp_page_main_projects_txt {
  max-width: 757px;
  text-align: center;
  margin: 0 auto;
  font-family: montserrat, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
}

.body_wrp_page_main_projects_filter {
  margin: 0 auto;
}

.body_wrp_page_main_projects_filter_btn {
  padding: 10px 20px;
  background-color: rgba(17, 17, 17, 0);
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 40px 0 0 0;
  outline: none;
  color: #8c8c8c;
}

.body_wrp_page_main_projects_filter_btn_txt {
  font-family: montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize;
}

.body_wrp_page_main_projects_filter_btn:hover {
  background-color: #998675;
  color: #ffffff;
}

.body_wrp_page_main_projects_filter_btn:active {
  background-color: transparent;
  border: 1px solid #998675;
  color: #998675;
}

.body_wrp_page_main_projects_portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.body_wrp_page_main_projects_portfolio_cover {
  margin: 40px 0 0 0;
  background-color: #fbfaf8;
  position: relative;
}

.body_wrp_page_main_projects_portfolio_cover_link {
  display: block;
  position: absolute;
  top: 106px;
  left: 144px;
  z-index: -1;
}

.body_wrp_page_main_projects_portfolio_cover_link_icon {
  fill: #ffffff;
}

.body_wrp_page_main_projects_portfolio_cover_link:hover .body_wrp_page_main_projects_portfolio_cover_link_icon {
  fill: #c7b299;
}

.body_wrp_page_main_projects_portfolio_cover_link:active .body_wrp_page_main_projects_portfolio_cover_link_icon {
  fill: #4e3427;
}

.body_wrp_page_main_projects_portfolio_cover_search {
  display: block;
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  z-index: -1;
  top: 106px;
  left: 198px;
}

.body_wrp_page_main_projects_portfolio_cover_search_icon {
  fill: #ffffff;
}

.body_wrp_page_main_projects_portfolio_cover_search:hover .body_wrp_page_main_projects_portfolio_cover_search_icon {
  fill: #c7b299;
}

.body_wrp_page_main_projects_portfolio_cover_search:active .body_wrp_page_main_projects_portfolio_cover_search_icon {
  fill: #4e3427;
}

.body_wrp_page_main_projects_portfolio_cover_img {
  display: block;
}

.body_wrp_page_main_projects_portfolio_cover_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fbfaf8;
  padding: 30px 30px 27px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.body_wrp_page_main_projects_portfolio_cover_txt_title {
  margin-bottom: 14px;
  font-family: raleway, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  color: #c7b299;
}

.body_wrp_page_main_projects_portfolio_cover_txt_scope {
  font-family: montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  color: #d1d1d1;
}

.body_wrp_page_main_projects_portfolio_cover_txt::before {
  content: "";
  display: block;
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -25px;
  left: 20px;
}

.body_wrp_page_main_projects_portfolio_cover:hover .body_wrp_page_main_projects_portfolio_cover_txt {
  background-color: #362f2d;
}

.body_wrp_page_main_projects_portfolio_cover:hover .body_wrp_page_main_projects_portfolio_cover_txt::before {
  border-bottom: 10px solid #362f2d;
}

.body_wrp_page_main_projects_portfolio_cover:hover .body_wrp_page_main_projects_portfolio_cover_txt_title {
  color: #ffffff;
}

.body_wrp_page_main_projects_portfolio_cover:hover .body_wrp_page_main_projects_portfolio_cover_txt_scope {
  color: #c7b299;
}

.body_wrp_page_main_projects_portfolio_cover:hover .body_wrp_page_main_projects_portfolio_cover_img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.body_wrp_page_main_projects_portfolio_cover:hover .body_wrp_page_main_projects_portfolio_cover_link,
.body_wrp_page_main_projects_portfolio_cover:hover .body_wrp_page_main_projects_portfolio_cover_search {
  z-index: 1;
}

.body_wrp_page_main_projects_btn {
  width: 170px;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  outline: none;
  color: #ffffff;
  margin: 0 auto;
}

.body_wrp_page_main_projects_btn_txt {
  font-family: Raleway, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

.body_wrp_page_main_projects_btn:hover {
  color: #998675;
  background-color: #362f2d;
}

.body_wrp_page_main_projects_btn:active {
  border: 1px solid #362f2d;
  background-color: transparent;
  color: #998675;
}

.body_wrp_footer {
  background-color: cadetblue;
}
/*# sourceMappingURL=style.css.map */